# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
backend/.env

# Databases
*.db
backend/*.db

# Logs
*.log

# VSCode
.vscode/

# Node modules
node_modules/
frontend/frontend/node_modules/

# MacOS
.DS_Store

# Python virtual environments
venv/
env/

# Ignore migrations if you don't want them tracked
migrations/
